@import "tailwindcss";


.hide-in-mobile {
  display: block;
}

@media (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }
}



:root {
  --primitive-neutral-0: #ffffff;
  --primitive-neutral-50: #f2f2f2;
  --primitive-neutral-100: #e5e5e5;
  --primitive-neutral-200: #cccccc;
  --primitive-neutral-300: #b2b2b2;
  --primitive-neutral-600: #666666;
  --primitive-neutral-800: #333333;
  --primitive-neutral-900: #1a1a1a;
  --primitive-neutral-1000: #000000;

  /* Brand colors */
  --primitive-brand-500: #ff7782;
  --primitive-brand-600: #cc5f68;
  --primitive-brand-700: #99474e;

  /* Accent colors */
  --primitive-lavender-500: #d3d3ff;
  --primitive-nude-100: #fbf5ee;
  --primitive-nude-400: #eed5bb;
  --primitive-power-blue-500: #b8e3e9;
  
  /* Rome specific */
  --primitive-dark-amaranth-500: #8f1b32;
  --primitive-sweet-salmon-500: #fb9f89;
  --primitive-linen-500: #feefe5;
  --primitive-seaweed-500: #21a179;
  --primitive-khaki-500: #c4af9a;

  /* Status colors */
  --primitive-blue-500: #3355ff;
  --primitive-red-500: #e50000;
  --primitive-orange-500: #ff8000;
  --primitive-green-500: #009933;

  /* Legacy */
  --background: #000000;
  --black: #000000;
  --lavender: #d3d3ff;

   /* Body text */
  --font-size-sm: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --font-size-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
  --font-size-lg: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  
  /* Headings */
  --font-size-h6: clamp(1rem, 0.7rem + 1vw, 1.5rem);
  --font-size-h5: clamp(1.25rem, 0.5rem + 2.5vw, 2.5rem);
  --font-size-h4: clamp(1.75rem, 0.5rem + 4vw, 3.5rem);
  --font-size-h3: clamp(2rem, 0.8rem + 4vw, 4rem);
  --font-size-h2: clamp(3rem, 1.5rem + 5vw, 5.5rem);
  --font-size-h1: clamp(3.5rem, 1.5rem + 7vw, 7rem);
  
  /* Display */
  --font-size-display: clamp(4rem, 0rem + 14vw, 18rem);
}

@font-face {
  font-family: 'Roslindale';
  src: url(/fonts/Roslindale-DisplayCondensedLight-Testing.ttf);
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'RoslindaleSemiBold';
  src: url(/fonts/Roslindale-DisplayCondensedSemiBold-Testing.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RumbleBrave';
  src: url(/fonts/Rumble\ Brave.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontrealMedium';
  src: url(/fonts/ppneuemontreal-medium.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontrealBook';
  src: url(/fonts/ppneuemontreal-book.otf);
  font-style: normal;
  font-display: swap;
}

[data-theme="paris"] {
  --background: var(--primitive-nude-400);
  --foreground: var(--primitive-neutral-0);

  /* Backgrounds */
  --bg-primary: var(--primitive-neutral-0);
  --bg-inverse: var(--primitive-neutral-1000);
  --bg-brand: var(--primitive-brand-500);
  --bg-brand-secondary: var(--primitive-lavender-500);
  --bg-brand-tertiary: var(--primitive-power-blue-500);
  --bg-neutral-subtle: var(--primitive-nude-100);
  --bg-neutral: var(--primitive-nude-400);
  --bg-neutral-hover: var(--primitive-nude-300);
  
  /* Content/Text */
  --content-primary: var(--primitive-neutral-900);
  --content-primary-inverse: var(--primitive-neutral-0);
  --content-secondary: var(--primitive-neutral-800);
  --content-tertiary: var(--primitive-neutral-600);
  --content-brand: var(--primitive-brand-500);
  
  /* Borders */
  --border-primary: var(--primitive-neutral-900);
  --border-secondary: var(--primitive-neutral-600);
  --border-tertiary: var(--primitive-neutral-300);
  --border-brand: var(--primitive-brand-500);
  --border-inverse: var(--primitive-neutral-0);
  
  /* Buttons */
  --button-primary-bg: var(--primitive-neutral-0);
  --button-primary-text: var(--primitive-neutral-900);
  --button-primary-border: var(--primitive-neutral-900);
  --button-primary-bg-hover: var(--primitive-neutral-1000);
  --button-primary-text-hover: var(--primitive-neutral-0);

}

[data-theme="rome"] {
  /* Backgrounds */
  --bg-primary: var(--primitive-dark-amaranth-500);
  --bg-inverse: var(--primitive-neutral-0);
  --bg-brand: var(--primitive-sweet-salmon-500);
  --bg-brand-secondary: var(--primitive-linen-500);
  --bg-brand-tertiary: var(--primitive-seaweed-500);
  --bg-neutral-subtle: var(--primitive-nude-100);
  --bg-neutral: var(--primitive-nude-400);
  --bg-neutral-hover: var(--primitive-nude-600);
  
  /* Content/Text */
  --content-primary: var(--primitive-neutral-0);
  --content-primary-inverse: var(--primitive-neutral-900);
  --content-secondary: var(--primitive-neutral-100);
  --content-tertiary: var(--primitive-neutral-300);
  --content-brand: var(--primitive-sweet-salmon-500);
  
  /* Borders */
  --border-primary: var(--primitive-neutral-0);
  --border-secondary: var(--primitive-neutral-300);
  --border-tertiary: var(--primitive-khaki-500);
  --border-brand: var(--primitive-brand-400);
  --border-inverse: var(--primitive-neutral-900);
  
  /* Buttons */
  --button-primary-bg: var(--primitive-neutral-0);
  --button-primary-text: var(--primitive-neutral-900);
  --button-primary-border: var(--primitive-neutral-0);
  --button-primary-bg-hover: var(--primitive-neutral-900);
  --button-primary-text-hover: var(--primitive-neutral-0);

  --background: var(--primitive-dark-amaranth-500);
  --foreground: var(--primitive-neutral-0);
}

@utility center-absolute {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2
}

@utility flex-col-center {
    @apply flex flex-col justify-center items-center
}


@theme inline {
  --font-serif: 'Roslindale', serif;
  --font-serif-semi-bold: 'RoslindaleSemiBold', serif;
  --font-rumble: 'RumbleBrave', serif;
  --font-montreal-medium: 'NeueMontrealMedium', sans-serif;
  --font-montreal-book: 'NeueMontrealBook', sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roslindale, serif;
}


h1 {
  font-size: var(--font-size-h1);
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.1;
  font-weight: 400;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.1;
  font-weight: 400;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: 1.2;
  font-weight: 400;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: 1.2;
  font-weight: 400;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: 1.3;
  font-weight: 400;
}

p, .generic {
  font-size: var(--font-size-base);
  line-height: 1.5;
}

small {
  font-size: var(--font-size-sm);
}

.rumble {
  font-family: RumbleBrave, serif;
}

.montreal_medium {
  font-family: NeueMontrealMedium, Arial, Helvetica, sans-serif
}

.montreal-book {
  font-family: NeueMontrealBook, Arial, Helvetica, sans-serif;
}

.choose_adventure_wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
  aspect-ratio: 9/16;
  max-height: 70vh;

  width: auto; 
  max-width: 100%;
}

.blur-40 {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

